@page
@model IndexModel

@foreach (var testimonial in Model.Testimonials) {
    <div class="testimonial">
        <div class="quote">
            <h1>@testimonial.Comment</h1>
            <p>@testimonial.Name <span>@testimonial.Title</span></p>
        </div>
        <img src="@testimonial.Img" alt="@testimonial.Name" />
    </div>
}

<div id="button">
    <button type="button" title="prev">
        <img src="~/assets/images/icon-prev.svg" alt="Previous" />
    </button>
    <button type="button" title="next">
        <img src="~/assets/images/icon-next.svg" alt="Next" />
    </button>
</div>